<ng-container *ngIf="question">
  <mat-card>
    <ng-container *ngIf="question.imageURL">
      <img
        mat-card-image
        [src]="question.imageURL"
        [alt]="question.imageCaption"
      />
    </ng-container>
    <mat-card-content>
      <h3>{{ question.text }}</h3>

      <!-- ================================== -->
      <!-- Image container -->
      <!-- ================================== -->
      <!-- <ng-container *ngIf="question.imageURL">
        <div class="image-wrapper">
          <div class="image-container">
            <img
              mat-card-image
              [src]="question.imageURL"
              [alt]="question.imageCaption"
            />
          </div>
          <ng-container *ngIf="question.imageCaption">
            <div class="image-caption-container">
              <p>{{ question.imageCaption }}</p>
            </div>
          </ng-container>
        </div>
      </ng-container> -->

      <form [formGroup]="questionForm">
        <div [ngSwitch]="question.type">
          <!-- ================================== -->
          <!-- Dropdown container -->
          <!-- ================================== -->
          <div *ngSwitchCase="'dropdown'">
            <mat-form-field class="full-width" appearance="fill">
              <mat-select formControlName="selectedOption">
                <mat-option
                  *ngFor="let option of question.options"
                  [value]="option.text"
                >
                  {{ option.text }}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <!-- ================================== -->
          <!-- Short Answer container -->
          <!-- ================================== -->
          <div *ngSwitchCase="'short answer'">
            <mat-form-field class="full-width" appearance="fill">
              <input
                matInput
                type="text"
                aria-label="User input for a short answer type question"
                formControlName="userInputText"
              />
            </mat-form-field>
          </div>
          <!-- ================================== -->
          <!-- Paragraph container -->
          <!-- ================================== -->
          <div *ngSwitchCase="'paragraph'">
            <mat-form-field class="full-width" appearance="fill">
              <textarea
                matInput
                aria-label="User input for a paragraph type question."
                formControlName="userInputText"
              ></textarea>
            </mat-form-field>
          </div>
          <!-- ================================== -->
          <!-- Multiple Choice Options container -->
          <!-- ================================== -->
          <div
            *ngSwitchDefault
            class="options-container"
            [formArrayName]="'options'"
          >
            <ng-container *ngFor="let option of question.options; index as i">
              <div class="option-container" [formGroupName]="i">
                <div class="option" (click)="toggleMultipleChoiceSelection(i)">
                  <mat-checkbox
                    [formControl]="getOptionIsSelectedControl(i)"
                  ></mat-checkbox>
                  <span>{{ option.text }}</span>
                </div>
              </div>
            </ng-container>
          </div>
        </div>
      </form>
    </mat-card-content>
  </mat-card>
</ng-container>
