.sidenav-list {
  height: 100%;
  overflow-x: hidden;
}

.sidenav-list mat-icon {
  opacity: 0.54;
}

.user-photo {
  background-color: transparent;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  opacity: 1;
}

.sun {
  color: #ffea00;
  opacity: 1 !important;
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
}
