<mat-nav-list role="navigation" class="sidenav-list">
  <ng-container *ngIf="user$ | async as user; else guest">
    <mat-list-item>
      <mat-icon mat-list-icon class="icon">account_circle</mat-icon>
      <a mat-line routerLink="/account">
        {{ user.displayName }}
      </a>
    </mat-list-item>

    <mat-list-item>
      <mat-icon mat-list-icon class="icon">logout</mat-icon>
      <a mat-line (click)="signOut()">Log out</a>
    </mat-list-item>
    <mat-divider></mat-divider>
  </ng-container>

  <ng-template #guest>
    <mat-list-item>
      <mat-icon mat-list-icon class="icon">account_circle</mat-icon>
      <a mat-line routerLink="/login">Sign in</a>
    </mat-list-item>
    <mat-divider></mat-divider>
  </ng-template>

  <!-- Features -->
  <mat-list-item>
    <mat-icon mat-list-icon class="icon">home</mat-icon>
    <a mat-line routerLink="/"> Home </a>
  </mat-list-item>

  <mat-list-item>
    <mat-icon mat-list-icon class="icon">class</mat-icon>
    <a mat-line routerLink="/quizzes"> Quizzes </a>
  </mat-list-item>

  <mat-divider></mat-divider>

  <!-- Settings -->
  <mat-list-item>
    <mat-icon mat-list-icon class="icon">settings</mat-icon>
    <a mat-line routerLink="/settings">Settings</a>
    <ng-container *ngIf="isDarkTheme$ | async; else isLightTheme">
      <button
        mat-icon-button
        matTooltip="Switch to light theme"
        (click)="toggleAppTheme()"
      >
        <mat-icon class="sun">light_mode</mat-icon>
      </button>
    </ng-container>
    <ng-template #isLightTheme>
      <button
        mat-icon-button
        matTooltip="Switch to dark theme"
        (click)="toggleAppTheme()"
      >
        <mat-icon>dark_mode</mat-icon>
      </button>
    </ng-template>
  </mat-list-item>

  <mat-divider></mat-divider>
</mat-nav-list>
