<ng-container *ngIf="currentFlashcard">
  <div class="shell">
    <div class="flashcard-container">
      <app-flashcard [flashcard]="currentFlashcard"></app-flashcard>
      <div class="btn-bar">
        <button
          mat-icon-button
          aria-label="Previous flashcard"
          [disabled]="!hasPrevious()"
          (click)="previous()"
        >
          <mat-icon>chevron_left</mat-icon>
        </button>
        <button
          mat-icon-button
          aria-label="Next flashcard"
          [disabled]="!hasNext()"
          (click)="next()"
        >
          <mat-icon>chevron_right</mat-icon>
        </button>
      </div>
    </div>

    <div class="actions-container">
      <p>Action 1</p>
      <p>Action 2</p>
      <p>Action 3</p>
    </div>
  </div>
</ng-container>
