<ng-container *ngIf="currentFlashcard">
  <div class="shell">
    <div class="flashcard-container">
      <app-flashcard [flashcard]="currentFlashcard"></app-flashcard>
      <div class="btn-bar">
        <button
          mat-icon-button
          aria-label="Previous flashcard"
          [disabled]="!hasPrevious()"
          (click)="previous()"
        >
          <mat-icon>chevron_left</mat-icon>
        </button>
        <button
          mat-icon-button
          aria-label="Next flashcard"
          [disabled]="!hasNext()"
          (click)="next()"
        >
          <mat-icon>chevron_right</mat-icon>
        </button>
      </div>
    </div>

    <div class="actions-container">
      <mat-action-list>
        <button mat-list-item>Create</button>
        <button mat-list-item>Delete</button>
        <button mat-list-item>Edit</button>
      </mat-action-list>
    </div>
  </div>
</ng-container>
