.shell {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 16px;
  height: 100%;
  width: 100%;
}

.flashcard-container {
  display: flex;
  flex-direction: column;
  gap: 16px;
  justify-content: center;
  align-items: center;

  .btn-bar {
    align-items: center;
  }
}

input[type='text'].index-input {
  width: 1.75em;
  margin: 8px 0;
  box-sizing: border-box;
  border: none;
  outline: none;
  background-color: inherit;
  color: inherit;
}

.separator {
  margin-right: 6px;
}

.actions-container {
  display: flex;
  flex-flow: row nowrap;
  gap: 16px;
}

@media only screen and (min-width: 600px) {
  .shell {
    flex-flow: row nowrap;
    gap: 24px;
  }

  .flashcard-container {
    order: 2;
  }

  .actions-container {
    order: 1;
    flex-flow: column nowrap;
    gap: 24px;
  }
}
