<h1 mat-dialog-title>Create a new subject</h1>
<div mat-dialog-content>
  <form [formGroup]="form" (ngSubmit)="save()">
    <mat-form-field class="full-width">
      <mat-label>Subject</mat-label>
      <input
        matInput
        placeholder="e.g., Computer Science"
        formControlName="name"
        required
        cdkFocusInitial
      />
    </mat-form-field>
  </form>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="cancel()">Cancel</button>
  <button
    type="submit"
    color="primary"
    mat-raised-button
    [disabled]="form.invalid"
    (click)="save()"
  >
    Save
  </button>
</div>
