<!-- [class.mat-elevation-z2]="!isActive" [class.mat-elevation-z8]="isActive" -->
<mat-card class="question-card">
  <form [formGroup]="form">
    <mat-card-content>
      <div class="question-header">
        <mat-form-field appearance="outline" floatLabel="never">
          <mat-label>Question type</mat-label>
          <mat-select formControlName="type">
            <mat-option
              *ngFor="let type of questionTypes; let i = index"
              [value]="type"
            >
              <!-- <mat-icon>{{ questionTypeIcons[i] }}</mat-icon> -->
              {{ type | titlecase }}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <button
          mat-icon-button
          aria-label="Add image"
          matTooltip="Add image"
          (click)="addImage()"
        >
          <mat-icon>insert_photo</mat-icon>
        </button>
      </div>

      <div class="form-fields">
        <mat-form-field appearance="fill" floatLabel="never">
          <mat-label>Question</mat-label>
          <input
            type="text"
            matInput
            placeholder="Question"
            formControlName="text"
          />
        </mat-form-field>

        <mat-form-field floatLabel="never" appearance="fill">
          <mat-label>Hint</mat-label>
          <input matInput type="text" formControlName="hint" />
        </mat-form-field>

        <mat-form-field floatLabel="never" appearance="fill">
          <mat-label>Explanation</mat-label>
          <input matInput type="text" formControlName="explanation" />
        </mat-form-field>
      </div>

      <!-- ============================= -->
      <!-- Mutliple choice options -->
      <!-- ============================= -->
      <ng-container *ngIf="options; else noOptions">
        <div formArrayName="options" class="multiple-choice-container">
          <div
            *ngFor="let opt of options?.controls; let i = index"
            class="question-options-container"
          >
            <div class="question-option">
              <ng-container
                *ngIf="type.value === 'multiple choice'; else checkboxes"
              >
                <mat-radio-button></mat-radio-button>
              </ng-container>
              <ng-template #checkboxes>
                <mat-checkbox></mat-checkbox>
              </ng-template>

              <mat-form-field class="question-option-text">
                <input matInput type="text" [formControlName]="i" required />
              </mat-form-field>
              <button
                mat-icon-button
                tabindex="-1"
                aria-label="Delete option"
                matTooltip="Delete option"
                (click)="deleteOption(i)"
              >
                <mat-icon>close</mat-icon>
              </button>
            </div>
          </div>
          <button mat-stroked-button (click)="addOption()">Add option</button>
          <button mat-button (click)="print()">Print</button>
        </div>
      </ng-container>
      <ng-template #noOptions>
        <p>No options</p>
      </ng-template>

      <!-- ============================= -->
      <!-- Actions -->
      <!-- ============================= -->
      <div class="question-actions-containter">
        <button
          mat-icon-button
          aria-label="Duplicate question"
          matTooltip="Duplicate question"
          (click)="duplicateQuestion()"
        >
          <mat-icon>content_copy</mat-icon>
        </button>
        <button
          mat-icon-button
          tabindex="-1"
          aria-label="Delete question"
          matTooltip="Delete question"
          (click)="deleteQuestion()"
        >
          <mat-icon>delete</mat-icon>
        </button>
      </div>
    </mat-card-content>
  </form>
</mat-card>
