mat-card-content {
  gap: 16px;
}

.question-card {
  display: flex;
  flex-direction: column;
}

.question-card mat-icon {
  opacity: 0.54;
}

.question-header {
  display: flex;
  flex-flow: row nowrap;
  align-items: baseline;
  gap: 16px;
}

.form-fields {
  display: flex;
  flex-direction: column;
  margin-bottom: 16px;
}

.image-container {
  display: flex;
  flex: auto;
  justify-content: center;
  margin: 16px auto;
  position: relative;
}

.image-container img {
  width: 97%;
  height: auto;
}

.image-caption-container {
  padding: 0 40px 0 44px;
}

.image-actions-container {
  position: absolute;
  top: 0;
  left: 0;
}

.question-options-container {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-bottom: 16px;
}

.question-option {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-between;
}

.question-option-text {
  flex: 1;
  margin-left: 16px;
}

.question-actions-containter {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-end;
  align-items: center;
  border-top: 1px solid #dadce0;
  padding-top: 16px;
}

.question-actions {
  margin: auto;
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .image-container img {
    width: auto;
  }
}
