// ===========================================================================
// Topnav
// ===========================================================================

.topnav {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 100;
}

.app-logo-container {
  display: flex;
  gap: 2px;
  margin-left: 16px;
}

.app-logo-letter {
  width: 32px;
  height: auto;
  background-color: #ff6d00;
  color: #fff;
  text-align: center;
  border-radius: 2px;
  font-weight: 700;
}

.toggle-btn-container {
  display: flex;
  box-sizing: border-box;
  padding: 0 16px;
  width: 100%;
  flex-direction: row;
  align-items: center;
  white-space: nowrap;
  background-color: #fff;
}

.user-profile-img {
  border-radius: 20px;
  height: 36px;
  width: auto;
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .sign-in-nav-link {
    border-color: #000;
    font-weight: bold;
    color: #000;
    padding: 7px 15px
  }

  .auth-links {
    display: flex;
  }
}
