.progress-bar {
  display: none;
  position: fixed;
  top: 65px;
  right: 0;
  left: 0;
}

.loading {
  display: block;
}

// ===========================================================================
// Sidenav
// ===========================================================================

.sidenav {
  width: 75%;
  min-width: 260px;
}

.sidenav mat-icon {
  opacity: 0.54;
}

// ===========================================================================
// Main content
// ===========================================================================

mat-sidenav-content {
  position: inherit;
  display: inherit;
  transform: inherit;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  margin: 65px auto 16px;
  padding: 16px;
  max-width: 960px;
  height: 100%;
}

.content-dark {
  background-color: #424242 !important;
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .sidenav {
    width: 240px;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
}
