<div class="mat-app-background" [class.dark-theme]="isDarkTheme">
  <!-- =============================================================== -->
  <!-- Top navigation -->
  <!-- =============================================================== -->
  <app-topnav [drawer]="drawer"></app-topnav>

  <mat-sidenav-container>
    <mat-sidenav
      #drawer
      class="sidenav"
      fixedInViewport="true"
      fixedTopGap="64"
      [attr.role]="isHandset ? 'dialog' : 'navigation'"
      [mode]="isHandset ? 'over' : 'side'"
    >
      <!-- ================================================================= -->
      <!-- Side navigation -->
      <!-- ================================================================= -->
      <div>
        <app-sidenav></app-sidenav>
      </div>
    </mat-sidenav>

    <mat-sidenav-content class="full-height">
      <!-- =============================================================== -->
      <!-- Progress bar -->
      <!-- =============================================================== -->
      <mat-progress-bar
        class="progress-bar"
        mode="indeterminate"
        [class.loading]="appState.isLoadingAsObservable() | async"
      >
      </mat-progress-bar>
      <!-- ============================================================= -->
      <!-- Main content -->
      <!-- ============================================================= -->
      <main class="content">
        <router-outlet></router-outlet>
      </main>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
