<section class="centered">
  <h1>404: Not Found</h1>
  <p>Uh oh! Seems like we can not find what you are looking for ...</p>
  <figure>
    <img
      alt="دوژکوین"
      src="https://upload.wikimedia.org/wikipedia/commons/thumb/e/e1/%D8%AF%D9%88%DA%98%DA%A9%D9%88%DB%8C%D9%86.jpg/512px-%D8%AF%D9%88%DA%98%DA%A9%D9%88%DB%8C%D9%86.jpg"
    />

    <figcaption>
      Mohammad Hemati, CC BY-SA 4.0, via
      <a
        href="https://commons.wikimedia.org/wiki/File:%D8%AF%D9%88%DA%98%DA%A9%D9%88%DB%8C%D9%86.jpg"
        alt="The golden Dogecoin"
      >
        Wikimedia Commons
      </a>
    </figcaption>
  </figure>
</section>

<div>
  <!-- TODO: Add current price of Dogecoin -->
  <!-- https://www.coinapi.io/ -->
</div>
