.centered {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

figure {
  display: flex;
  flex-direction: column;
  margin: 16px;
}

figure img {
  vertical-align: top;
  animation: rotation 10s infinite linear;
}

figure figcaption {
  text-align: center;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate((359deg));
  }
}
