.header {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
}

.game-container {
  display: grid;
  grid-template-columns: auto auto;
  gap: 16px;
  margin: 16px auto;
}

.card {
  width: 100%;
  text-align: center;
  cursor: pointer;
}

.hidden-card {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s 1s, opacity 1s linear;
}

.is-selected {
  border: 1px solid #ff6d00;
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media screen and (min-width: '600px') {
  .game-container {
    grid-template-columns: auto auto auto auto;
    margin: 24px auto;
  }
}
