.game-container {
  display: grid;
  grid-template-columns: auto auto;
  gap: 16px;
}

.card {
  width: 100%;
  text-align: center;
  cursor: pointer;
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media screen and (min-width: '600px') {
  .game-container {
    grid-template-columns: auto auto auto auto;
  }
}
