<form [formGroup]="form" class="quiz-form">
  <!-- ====================================== -->
  <!-- Quiz subject, title, and description -->
  <!-- ====================================== -->
  <mat-card>
    <mat-form-field class="full-width">
      <mat-label>Subject</mat-label>
      <mat-select formControlName="subject" required>
        <mat-option
          *ngFor="let subject of subjects$ | async"
          [value]="subject.name"
        >
          {{ subject.name }}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field class="full-width">
      <mat-label floatLabel="never">Title</mat-label>
      <input
        matInput
        type="text"
        placeholder="Untitled quiz"
        formControlName="name"
        required
      />
    </mat-form-field>
    <mat-form-field class="full-width">
      <mat-label>Description</mat-label>
      <input matInput type="text" formControlName="description" />
    </mat-form-field>
  </mat-card>

  <!-- ====================================== -->
  <!-- Questions -->
  <!-- ====================================== -->
  <div formArrayName="questions" class="questions-container">
    <ng-container *ngFor="let qc of questions?.controls; let i = index">
      <app-question-form
        [quizId]="quizId"
        [questionForm]="toFormGroup(qc)"
        [index]="i"
        (questionDeleted)="deleteQuestion($event)"
        (questionDuplicated)="addQuestion($event)"
      ></app-question-form>
    </ng-container>
  </div>

  <div class="btn-bar">
    <button mat-button (click)="addQuestion()">Add question</button>
    <button mat-raised-button color="primary" (click)="save()">Save</button>
  </div>
</form>
