<ng-container *ngIf="question">
  <mat-card>
    <mat-card-content>
      <h3>{{ question.text }}</h3>

      <!-- ================================== -->
      <!-- Image container -->
      <!-- ================================== -->
      <ng-container *ngIf="question.imageURL">
        <div class="image-wrapper">
          <div class="image-container">
            <img
              [src]="question.imageURL"
              alt="An image related to the question"
            />
          </div>
          <ng-container *ngIf="question.imageCaption">
            <div class="image-caption-container">
              <p>{{ question.imageCaption }}</p>
            </div>
          </ng-container>
        </div>
      </ng-container>

      <form [formGroup]="form">
        <div [ngSwitch]="question.type">
          <!-- ================================== -->
          <!-- Dropdown container -->
          <!-- ================================== -->
          <div *ngSwitchCase="'dropdown'">
            <mat-form-field>
              <mat-select formControlName="selectInput">
                <mat-option *ngFor="let option of question.options">
                  {{ option.text }}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <!-- ================================== -->
          <!-- Short Answer container -->
          <!-- ================================== -->
          <div *ngSwitchCase="'short answer'">
            <mat-form-field class="full-width" appearance="outline">
              <input
                matInput
                type="text"
                aria-label="User input for a short answer type question"
                formControlName="input"
              />
            </mat-form-field>
          </div>
          <!-- ================================== -->
          <!-- Paragraph container -->
          <!-- ================================== -->
          <div *ngSwitchCase="'paragraph'">
            <mat-form-field class="full-width" appearance="outline">
              <textarea
                matInput
                aria-label="User input for a paragraph type question."
                formControlName="input"
              ></textarea>
            </mat-form-field>
          </div>
          <!-- ================================== -->
          <!-- Options container -->
          <!-- ================================== -->
          <div
            *ngSwitchDefault
            class="options-container"
            [formArrayName]="'options'"
          >
            <ng-container
              *ngFor="let option of question.options; let i = index"
            >
              <div class="option-container" [formGroupName]="i">
                <div class="option" (click)="toggleIsAnswer(i)">
                  <mat-checkbox
                    [formControl]="getOptionIsCheckedControl(i)"
                  ></mat-checkbox>
                  <span>{{ option.text }}</span>
                </div>
              </div>
            </ng-container>
          </div>
        </div>
      </form>
    </mat-card-content>
  </mat-card>
</ng-container>
