.question-is-correct {
  border-left: 4px solid #4caf50;
}

.question-is-incorrect {
  border-left: 4px solid #f44336;
}

.is-correct {
  color: #4caf50;
}

.is-incorrect {
  color: #f44336;
}

.metadata {
  font-style: italic;
}
