.quiz-form {
  display: flex;
  flex-direction: column;
  gap: 16px;
  height: 100%;
  margin-bottom: 64px;
}

.subject-field-container {
  display: flex;
  align-items: center;
  gap: 8px;
}

.subject-field-container mat-icon {
  opacity: 0.54;
}

.questions-container {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

/* Large devices (laptops/desktops, 992px and up) */
// @media only screen and (min-width: 992px) {
// }
