@import "~@angular/material/theming";
@include mat-core();

$Quizzer-primary: mat-palette($mat-deep-orange, A400);
$Quizzer-accent: mat-palette($mat-pink, A200, A100, A400);
$Quizzer-warn: mat-palette($mat-red);
$Quizzer-light-theme: mat-light-theme(
  (
    color: (
      primary: $Quizzer-primary,
      accent: $Quizzer-accent,
      warn: $Quizzer-warn,
    ),
  )
);

@include angular-material-theme($Quizzer-light-theme);

// Define an alternate dark theme.
$Quizzer-dark-primary: mat-palette($mat-deep-orange, A400);
$Quizzer-dark-accent: mat-palette($mat-light-blue, A200, A100, A400);
$Quizzer-dark-warn: mat-palette($mat-red);
$Quizzer-dark-theme: mat-dark-theme(
  $Quizzer-dark-primary,
  $Quizzer-dark-accent,
  $Quizzer-dark-warn
);

.dark-theme {
  // Reference: https://material.angular.io/guide/duplicate-theming-styles
  // This mixin only generates the color styles now.
  @include angular-material-color($Quizzer-dark-theme);
}

// ===========================================================================
*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

p {
  margin: 0;
}

.spacer {
  flex: 1;
}

a,
a:visited,
a:hover {
  color: #1976d2;
  text-decoration: none;
}

a:hover {
  color: #125699;
}
