@import '~@angular/material/theming';
@include mat-core();

$Quizzer-primary: mat-palette($mat-deep-orange);
$Quizzer-accent: mat-palette($mat-light-blue, A200, A100, A400);
$Quizzer-warn: mat-palette($mat-red);
$Quizzer-light-theme: mat-light-theme(
  (
    color: (
      primary: $Quizzer-primary,
      accent: $Quizzer-accent,
      warn: $Quizzer-warn,
    ),
  )
);

@include angular-material-theme($Quizzer-light-theme);

// Define an alternate dark theme.
$Quizzer-dark-primary: mat-palette($mat-deep-orange);
$Quizzer-dark-accent: mat-palette($mat-light-blue, A200, A100, A400);
$Quizzer-dark-warn: mat-palette($mat-red);
$Quizzer-dark-theme: mat-dark-theme(
  $Quizzer-dark-primary,
  $Quizzer-dark-accent,
  $Quizzer-dark-warn
);

.dark-theme {
  // Reference: https://material.angular.io/guide/duplicate-theming-styles
  // This mixin only generates the color styles now.
  @include angular-material-color($Quizzer-dark-theme);
}

// ===========================================================================
*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  margin: 0;
}

body {
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-weight: 400;
}

p {
  margin: 0;
}

.spacer {
  flex: 1;
}

.full-height {
  height: 100%;
}

.full-width {
  width: 100%;
}

.container {
  display: flex;
  flex-direction: row;
  flex: 1;
}

.container-centered {
  display: flex;
  flex-direction: row;
  flex: 1;
  justify-content: center;
  align-items: center;
}

a,
a:visited,
a:hover {
  cursor: pointer;
  color: #1976d2;
  text-decoration: none;
}

a:hover {
  color: #125699;
}

a mat-icon {
  color: #000;
}

.btn-bar {
  display: flex;
  flex-flow: row nowrap;
  gap: 8px;
}

.btn-bar mat-icon {
  opacity: 0.54;
}
