<div *ngIf="quiz">
  <header>
    <h1>{{ quiz.name }}</h1>
  </header>
  <mat-divider></mat-divider>

  <div class="actions-container">
    <!-- TODO: Finish the actions for a Quiz -->
    <div class="btn-bar">
      <button mat-button>Add question</button>
      <a mat-button [routerLink]="['/study', quiz.id, 'match']">Match</a>
      <button mat-button>Practice</button>
    </div>
  </div>

  <mat-divider></mat-divider>
  <section *ngFor="let question of quiz.questions; index as i">
    <div class="question-header">
      <h2>{{ i + 1 }}. {{ question.text }}</h2>
      <div class="btn-bar">
        <button
          mat-icon-button
          aria-label="Delete question"
          matTooltip="Delete question"
          (click)="deleteQuestion(question.id, i)"
        >
          <mat-icon>delete</mat-icon>
        </button>
        <a
          mat-icon-button
          aria-label="Edit question"
          matTooltip="Edit question"
          [routerLink]="['/quizzes', quiz.id, 'questions', question.id, 'edit']"
        >
          <mat-icon>edit</mat-icon>
        </a>
      </div>
    </div>
    <ng-container
      *ngIf="
        question.type === 'multiple choice' || question.type === 'dropdown';
        else writtenResponse
      "
    >
      <mat-list>
        <mat-list-item *ngFor="let option of question.options">
          {{ option.text }}
        </mat-list-item>
      </mat-list>
    </ng-container>
    <ng-template #writtenResponse>
      <p>{{ question.explanation }}</p>
    </ng-template>
    <mat-divider></mat-divider>
  </section>
</div>
